header {
	background: url('img/menu.jpg');
	background-size: cover;
	background-position: center;
	min-height: 1000px;
}

.section {
	padding-top: 4vw;
	padding-bottom: 4vw;
}

.tabs .indicator {
	background-color: #1a237e;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
	background: transparent;
}

.sosial-media-team-link {
	display: flex;
	margin-top: 1rem;
	justify-content: flex-start;
	align-items: center;
}

.sosial-media-team-item {
	margin-left: .4rem;
}

.contact-section {
	margin-top: 6rem;
	margin-bottom: 6rem;
}

.img-galeri {
	margin-top: .9rem;
}

/**
 * Media Query
 */
@media screen and (max-width: 670px) { 
	header {
		min-height: 500px;
	}

}


